{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Digit Predict</title>
    <script type="text/javascript" id="Button2">
    function save (){
        $.ajax({
            //画像処理サーバーに返す場合
            url: 'http://127.0.0.1:8000/',
            type: 'POST',
            contentType: 'application/json',
            dataType:"json",
            data : {post_data_1:"hoge", post_data_2:"piyo"},
        });
    }
    </script>
</head>
<body>
<div class="container">
    <div class="block">
        <div class="block__element">
            <form action="" method="post">
                {% csrf_token %}
                <button id="Button2" onclick="save()">Draw Canvas #2</button>
            </form>
        </div>
    </div>
</div>

<p>{{ img }}</p>
</body>
</html>
