{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Read Digit</title>
    <script type="text/javascript" src="{% static 'js/drawing.js' %}"></script>
</head>

<body>
<canvas id="canvas1" width="250" height="250" style="background:#EFECE5"></canvas>
<form action="" method="post">
    {% csrf_token %}
    <button>Read digit</button>
    <input id="button1" type="hidden" name="img">
</form>
<p>Your writing digit may be ...</p><h3>{{ img }}</h3>
</body>
</html>
